<IfModule mod_rewrite.c>
    RewriteEngine On

    # Izinkan akses langsung ke Vite assets
    RewriteCond %{REQUEST_URI} ^/build/assets/ - [L]

    # Laravel Rewrite Rule
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
